<!DOCTYPE html>
<html lang="ru" >
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" name="viewport">
    
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="icon" href="../assets/discord.ico" type="image/x-icon">
  <title>Discordia</title>
</head>

<body>
  <div class="container">
    <div class="servers-panel">
      <div class="servers">
        <div class="server-img" data-alt="Home screen"><img src="../assets/discord-white-icon-13.png" height="40px" width="40px"></div><abbr title="Discordia"></abbr>
        
        <div class="server-separator"></div>
        <div class="server-img active" data-alt="Some server"><span>Srv1</span></div>
        <div class="server-img" data-alt="Some server"><span>Srv2</span></div>
        <div class="server-img" data-alt="Some server"><span>Srv3</span></div>
        <div class="server-img" data-alt="Some server"><span>Srv4</span></div>
      </div>
      <div class="new-server">
        <div class="new-server-img" data-alt="Add new server"><img src="../assets/plus.png" height="48px" width="48px"></div>
        <div class="discover-server-img" data-alt="Discover public servers"><img src="https://cdn2.iconfinder.com/data/icons/freecns-cumulus/32/519777-89_Compass-512.png" height="48px" width="48px"></div>
      </div>
    </div>
      <div class="server-container">
        <div class="server-name">
          <h3>Srv1</h3><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/Chevron-down.svg/320px-Chevron-down.svg.png" height="10px" width="15px">
        </div>
        <div class="server-channels">
          <div class="channel active"><img class="channeltag" src="../assets/923768-200.png" width="20px" height="20px"><h4>#Bienvenido</h4></div>
          <div class="channel"><img class="channeltag" src="../assets/923768-200.png" width="20px" height="20px"><h4>General</h4></div>
          <div class="channel"><img class="channeltag" src="https://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/256/Status-audio-volume-high-icon.png" width="20px" height="20px">
            <h4>Sala de Estudio</h4></div>
        </div>
        <div class="bottom-tab">
          <div class="user-info">
            <img class="avatar" src="../assets/avatar.png"><div class="online-check-outer"><div class="online-check"></div></div>
            <div class="user-text">
              <span class="user-name">Usuario</span>
              <span class="user-id">#1337</span>
            </div>
          </div>
          <div class="buttons">
            <div class="icon"><img src="https://img.icons8.com/dusk/64/000000/microphone.png" height="20px" width="20px"></div>
            <div class="icon"><img src="https://img.icons8.com/dusk/64/000000/headphones.png" height="20px" width="20px"></div>
            <div class="icon"><img src="https://img.icons8.com/dusk/64/000000/settings.png" height="20px" width="20px"></div>
          </div>
        </div>
      </div>

    <div class="main-content">
      <div class="header">
        <div class="nameplate">
          <img class="hashtag" src="../assets/923768-200.png" width="24px" height="24px"><h3>Canal Upateco</h3>
        </div>
        <div class="buttons">
          <div class="icon"><img src="../assets/2006695-200.png" height="20px" width="20px"></div>
          <div class="icon"><img src="https://icons.iconarchive.com/icons/paomedia/small-n-flat/512/pin-icon.png" height="20px" width="20px"></div>
          <div class="icon"><img src="../assets/Group_font_awesome.svg.png" height="20px" width="20px"></div>
          <div class="search-tab"><span class="search">Busqueda</span><img class="search-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/12px-Vector_search_icon.svg.png"></div>
          <div class="icon"><img src="https://www.iconpacks.net/icons/1/free-mail-icon-1008-thumb.png" height="20px" width="20px"></div>
          <div class="icon"><img src="https://img.icons8.com/officel/2x/help.png" height="20px" width="20px"></div>

        </div> 
      </div>

      <div class="server-workspace">
        <div class="chat">
          <div class="past-messages">
            <div class="user-message">
              <div class="timestamp">12:34</div><div class="author">Elchapo212</div>
              <div class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit accusantium eum sapiente repellat vero optio excepturi iusto repudiandae fugiat dolor. Itaque, non praesentium. Sequi ex totam iusto iure omnis officiis!</div>
            </div>
            <div class="user-message">
              <div class="timestamp">13:13</div><div class="author">Latoxica22</div>
              <div class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit accusantium eum sapiente repellat vero optio excepturi iusto repudiandae fugiat dolor. Itaque, non praesentium. Sequi ex totam iusto iure omnis officiis!</div>
            </div>
            <div class="user-message">
              <div class="timestamp repeat">13:13</div><div class="author">Elchapo212</div>
              <div class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit accusantium eum sapiente repellat vero optio excepturi iusto repudiandae fugiat dolor. Itaque, non praesentium. Sequi ex totam iusto iure omnis officiis!</div>
            </div>
            <div class="user-message">
              <div class="timestamp repeat">13:13</div><div class="author">Latoxic22a</div>
              <div class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit accusantium eum sapiente repellat vero optio excepturi iusto repudiandae fugiat dolor. Itaque, non praesentium. Sequi ex totam iusto iure omnis officiis!</div>
            </div>
            <div class="user-message">
              <div class="timestamp repeat">13:13</div><div class="author">Elchapo212</div>
              <div class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit accusantium eum sapiente repellat vero optio excepturi iusto repudiandae fugiat dolor. Itaque, non praesentium. Sequi ex totam iusto iure omnis officiis!</div>
            </div>
            <div class="user-message">
              <div class="timestamp repeat">13:13</div><div class="author">Latoxica22</div>
              <div class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit accusantium eum sapiente repellat vero optio excepturi iusto repudiandae fugiat dolor. Itaque, non praesentium. Sequi ex totam iusto iure omnis officiis!</div>
            </div>
            <div class="user-message">
              <div class="timestamp repeat">13:13</div><div class="author">Kinoto01</div>
              <div class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit accusantium eum sapiente repellat vero optio excepturi iusto repudiandae fugiat dolor. Itaque, non praesentium. Sequi ex totam iusto iure omnis officiis!</div>
            </div>
            <div class="user-message">
              <div class="timestamp repeat">13:13</div><div class="author">Kinoto01</div>
              <div class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit accusantium eum sapiente repellat vero optio excepturi iusto repudiandae fugiat dolor. Itaque, non praesentium. Sequi ex totam iusto iure omnis officiis!</div>
            </div>
            <div class="user-message">
              <div class="timestamp repeat">13:13</div><div class="author">Kinoto01</div>
              <div class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit accusantium eum sapiente repellat vero optio excepturi iusto repudiandae fugiat dolor. Itaque, non praesentium. Sequi ex totam iusto iure omnis officiis!</div>
            </div>
            <div class="user-message">
              <div class="timestamp">13:37</div><div class="author">The Ugly</div>
             <div class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit accusantium eum sapiente repellat vero optio excepturi iusto repudiandae fugiat dolor. Itaque, non praesentium. Sequi ex totam iusto iure omnis officiis!</div>
            </div>
            <div class="user-message">
              <div class="timestamp">13:38</div><div class="author">Kinoto01</div>
              <div class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit accusantium eum sapiente repellat vero optio excepturi iusto repudiandae fugiat dolor. Itaque, non praesentium. Sequi ex totam iusto iure omnis officiis!</div>
            </div>
            <div class="user-message">
              <div class="timestamp">13:39</div><div class="author">Dummy44</div>
              <div class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit accusantium eum sapiente repellat vero optio excepturi iusto repudiandae fugiat dolor. Itaque, non praesentium. Sequi ex totam iusto iure omnis officiis!</div>
            </div>
            <div class="user-message">
             <div class="timestamp">14:33</div><div class="author">Dummy44</div>
              <div class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit accusantium eum sapiente repellat vero optio excepturi iusto repudiandae fugiat dolor. Itaque, non praesentium. Sequi ex totam iusto iure omnis officiis!</div>
           </div>
           <div class="user-message">
            <div class="timestamp">15:00</div><div class="author">Kinoto01</div>
            <div class="message"><a href="https://www.google.com/">https://www.google.com/</a> is my favourite webpage!</div>
          </div>
           <div class="user-message">
             <!-- <div class="timestamp">16:20</div><div class="author">Some dude</div>
             <div class="message">Send dudes!</div> -->
            </div>
          </div>
          <div class="response-bar">
            <div class="new-message">
              <div class="msg-left-side">
                <div class="icon"><img src="../assets/plus.png" height="30px" width="30px"></div>
              <span class="type-field">Enviar Mensaje a</span>
              </div>
              <div class="msg-right-side">
                <div class="icon"><img src="https://img.icons8.com/bubbles/2x/gift.png" height="30px" width="30px"></div>
                <div class="icon"><img src="../assets/gificon.png" height="20px" width="20px"></div>
                <div class="icon"><img src="../assets/Happy_Emoji.webp" height="20px" width="20px"></div>
              </div>
            </div>
            <div class="user-typing">
              <!-- <span class="who-types">Some dude</span><span class="typing"> typing...</span> -->
            </div>
          </div>
        </div>
        <div class="member-list">
          <h5>online—5</h5>
          <div class="member-info">
            <img class="avatar" src="../assets/avatar.png"><div class="online-check-outer"><div class="online-check"></div></div>
            <div class="member-text">
              <span class="member-name">Latoxica22</span>
            </div>
          </div>
          <div class="member-info">
            <img class="avatar" src="../assets/avatar.png"><div class="online-check-outer"><div class="online-check"></div></div>
            <div class="member-text">
              <span class="member-name">Elchapo202</span>
            </div>
          </div>
          <div class="member-info">
            <img class="avatar" src="../assets/avatar.png"><div class="online-check-outer"><div class="online-check"></div></div>
            <div class="member-text">
              <span class="member-name">Usuario</span>
            </div>
            <img src="https://www.clker.com/cliparts/W/j/G/D/X/i/orange-crown-hi.png" hieght="20px" width="20px" style="margin: 5px;">
          </div>
          <div class="member-info">
            <img class="avatar" src="../assets/avatar.png"><div class="online-check-outer"><div class="online-check"></div></div>
            <div class="member-text">
              <span class="member-name">Kinoto01</span>
            </div>
          </div>
          <div class="member-info">
            <img class="avatar" src="../assets/avatar.png"><div class="online-check-outer"><div class="online-check"></div></div>
            <div class="member-text">
              <span class="member-name">Dummy44</span>
            </div>
          </div>
          <h5>offline—1</h5>
          <div class="member-info offline">
            <img class="avatar" src="../assets/avatar.png">
            <div class="member-text">
              <span class="member-name">Ugly11</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</body></html>
 