<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
  <!-- Styles -->
  <link rel="stylesheet" href="..\styles\Recover.css">
  <!-- Title -->
  <title>Recuperacion de Cuenta</title>
</head>
<body>
  <header class="header">
    <img class="header__img" src="../assets/discordia.png" alt="logo">
  </header>
  <section class="recu">
    <section class="recu__container">
      <h2>Recuperación</h2>
      <form class="recu__container--form">
        <input class="input" type="text" placeholder="Ingrese Correo">
        <button class="button">Enviar</button>
      </form>
      <a href="/templates/Login.html">Iniciar sesión</a>
    </section>
  </section>
  <footer class="footer">
    <a href="/">Terminos de uso</a>
    <a href="/">Declaración de privacidad</a>
    <a href="/">Centro de ayuda</a>
    <a href="/">Derechos Reservados AOTC_PROGRAMMING</a>
  </footer>
</body>
</html>