<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
  <!-- Styles -->
  <link rel="stylesheet" href="..\styles\Record.css">
  <!-- Title -->
  <title>Registro</title>
</head>
<body>
  <header class="header">
    <img class="header__img" src="../assets/discordia.png" alt="Logo">
  </header>
  <section class="register">
    <section class="register__container">
      <h2>Regístrate</h2>
      <form class="register__container--form">
        <input class="input" type="text" placeholder="Nombre">
        <input class="input" type="text" placeholder="Correo">
        <input class="input" type="password" placeholder="Contraseña">
        <!-- <label> Fecha de Nacimiento</label> -->
        <!-- <input type="date" name="fechanac" value="@Model.FechaNac" /> -->
        <button class="button">Registrarme</button>
      </form>
      <a href="/templates/Login.html">Iniciar sesión</a>
    </section>
  </section>
  <footer class="footer">
    <a href="/">Terminos de uso</a>
    <a href="/">Declaración de privacidad</a>
    <a href="/">Centro de ayuda</a>
    <a href="/">Derechos Reservados AOTC_PROGRAMMING</a>
  </footer>
  <script>
   src="../scripts/record.js"
  </script>
</body>
</html>